// headings, i.e. h1, h2, h3...
%heading {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: bold;
  line-height: $base-line-height;
  color: $title-colour;
}

// container wraps
%containerBase {
  margin: 0 auto;
  width: 100%;
  padding: 0 px-to-rem(15px);
}

%containerWide {
  @extend %containerBase;
  max-width: px-to-rem(1740px);
}

%containerDefault {
  @extend %containerBase;
  max-width: px-to-rem(1340px);
}

// buttons
%button {
  display: inline-block;
  font-size: px-to-rem(14px);
  padding: px-to-rem(12px) px-to-rem(20px);
  border: px-to-rem(1px) solid $white-colour;
  border-radius: 0;
  white-space: nowrap;
  background: $black-colour;
  color: $white-colour;
  transition:
    color 250ms ease-in-out,
    opacity 250ms ease-in-out,
    background 250ms ease-in-out,
    border 250ms ease-in-out;

  &:hover,
  &:focus {
    background: $primary-colour;
    border-color: $primary-colour;
    color: $white-colour;
  }
}

%primaryButton {
  @extend %button;
  background: $primary-colour;

  &:hover,
  &:focus {
    background: $black-colour;
    border-color: $black-colour;
  }
}

%secondaryButton {
  @extend %button;
  background: $secondary-colour;

  &:hover,
  &:focus {
    background: $black-colour;
    border-color: $black-colour;
  }
}

%tertiaryButton {
  @extend %button;
}

// user generated content
%ugc {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
